.ꀃ㻾ჂϠﾴ䵀溰-(1), .iconfinder_social_media_network-16_1851683, .iconfinder_vk_._logo_._social_._media__icon_3015734, .iconfinder_OK_2744959, .iconfinder_social_51_492994{
	background: url(sprites.png) no-repeat;
}

.ꀃ㻾ჂϠﾴ䵀溰-(1){
	background-position: 0 0;
	width: 497px;
	height: 59px;
}

.iconfinder_social_media_network-16_1851683{
	background-position: -119px -52px ;
	width: 32px;
	height: 32px;
}

.iconfinder_vk_._logo_._social_._media__icon_3015734{
	background-position: 0 -53px ;
	width: 32px;
	height: 32px;
}

.iconfinder_OK_2744959{
	background-position: -38px -51px ;
	width: 32px;
	height: 32px;
}

.iconfinder_social_51_492994{
	background-position: -80px -52px ;
	width: 32px;
	height: 32px;
}

