@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Rubik');
/* Desktop first layout*/

/* стили для любой ширины */
* {
	box-sizing: border-box;
}
.main__container {
  margin: 0 auto;
  width: 1140px;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
.menu__button {
  background: linear-gradient(
    to top, #0d3351 10%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 45%, 
            #0d3351 45%, #0d3351 55%, rgba(0,0,0,0) 55%, 
            rgba(0,0,0,0) 90%, #0d3351 90%);
  width: 22px;
  height: 16px;
}
.header {
  position: relative;
  width: 100%;
  height: 647px;
  background-image: url(../img/sochi-2258855.png), url(../img/logo.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: cover auto;	
}
.flexend {
  justify-content: flex-end;
}
.header__element {
  padding: 0 15px;
  margin: 0 10px;
  display: flex;
  position: relative;
  font-family: Rubik, sans-serif;
  color: #0d3351;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  align-items: center;
}
.header__contact {
  flex-basis: 200px;
  display: block;
  font-size: 12px;
  line-height: 1em;
  padding-top: 12px;
}
.menu__first_element_formatting {
  margin-right: auto;
}
.header_big {
  font-family: Roboto Slab, serif;
  color: #0d3351;
  font-size: 100px; 
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
}
.header_small {
  padding-top: 60px;
  font-family: Roboto Slab, serif;
  color: #0d3351;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  letter-spacing: 3px;
}
.nav {
  background-color: #0d3351;
  position: absolute;
  top:-1000%;
  left: 30%;
  width: 420px;
  opacity: 0;
  transition: 0.5s all ease 0.15s;
  padding: 60px 0;
}
.menu__button:hover .nav {
    opacity: 1;
    top: 100%;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*Menu display*/
.menu a {
    text-decoration: none;
    display: block;
    font-family: Roboto Slab;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    padding-left: 40px;
    transition: 1s all;
}

.menu a:hover {
  background-color: #33c7fd;
  padding-left: 30px;
}
.main__button {
  display: block;
  background-color: #33c7fd;
  width: 202px;
  height: 47px;
  margin: 0 auto;
  border: 0;
  font-family: Rubik, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  text-decoration-line: none;
  transition: 1s;
}
.main__button:hover {
  background-color: #0d3351;
}
/*Нужно ли делать обертку для главной секции, или ограничиться main__container и background на весь документ?*/
html { 
  background-color: #f3f3f3;
}
.content {
  position: relative;
}
.content__element {
  position: relative;
  width: 555px;
  background-color: #fff;
  margin: 10px 15px;
  display: block;  
}
.content-img__full-height {
  height: 437px;  
}
.content-img__half-height {
  height: 215px;  
}
.content-img__quarter-height {
  height: 113px;
}
.content__header {
  font-family: Roboto Slab;
  color: #00a2dd;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  padding-right: 20px;
  display: inline; /*This is to use icons__list class*/
  position: relative; /*This is to use icons__list class*/
}
.content__textbox {
  height: 191px;
  padding-left: 30px;
}
.content__text {
  font-family: Rubik, sans-serif;
  color: #0d3351;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.content-img__anapa {
  background: url(../img/lighthouse-1319560.png) no-repeat;
}
.content-img__durso {
  background: url(../img/sea-3141781_1920.png) no-repeat;
}
.content-img__gelendzik {
  background: url(../img/gelendzik.png) no-repeat;
}
.content-img__novorossiysk {
  background: url(../img/novorossiysk-211521_1920.png) no-repeat;
}
.content-img__sochi {
  background: url(../img/sochi-2461968_1920.png) no-repeat;
}
footer {
  border: 5px solid cyan;
  display: flex;
}
.footer__menu {
  display: flex;
  flex-flow: column;
  flex: 1;
  width: 200px;
  height: 100px;
  border: 1px dashed red;
  background-color: #ffffff;
}
.footer__menu a {
  font-family: Rubik, sans-serif;
  color: #0d3351;
  font-size: 14px; /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 24px; /* Approximation due to font substitution */
  text-align: left;
  text-decoration: none;
}
.footer__social {
  flex: 1;
  width: 200px;
  height: 100px;
  border: 1px dashed red;
}
.footer__contacts {
  flex: 1;
  flex-flow: column;
  width: 200px;
  height: 100px;
  border: 1px dashed red;
}
.icons__lk {
  background: url(../img/lk.png) no-repeat 0% center;
}
.icons__list::after {
  content: " ";
  border: 5px solid black;
  border-color: #0d3351 transparent transparent transparent;
  position: absolute;
  right: 0%;
  top: 45%;
}
.icons__content-arrow::after {
  content: "";
  font-size: 0; /*to make border display independant*/
  border: 6px solid blue;
  border-color: transparent transparent transparent #00a2dd;
  position: relative;
  bottom: 6px;
  left: 6px;
}
.content__columns {
  flex-flow: column wrap;
  max-height: 1100px;
}
.content__price {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 28px;
  color: red;
  /*height: 40px;*/
  padding: 20px 0;
}
.content__main-header {
  font-family: Roboto Slab;
  color: #0d3351;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  padding-top: 80px;
}
.content__small-header {
  font-family: Rubik, sans-serif;
  color: #0d3351;
  font-size: 14px; 
  font-weight: 400;
  /*line-height: 24px;*/
  text-align: center;
  margin-bottom: 30px;
}
.content__sticker_sale {
  position: absolute;
  background: url(../img/tag_sale.svg) no-repeat;
  height: 100px;
  width: 90px;
  top: -1.5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  font-family: Rubik;
  color: #ffffff;
  font-size: 14px;
}
.content__sticker_promo {
  position: absolute;
  background: url(../img/tag_promo.svg) no-repeat;
  height: 100px;
  width: 90px;
  top: -3%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  font-family: Rubik;
  color: #ffffff;
  font-size: 14px;
}
/***********************************************
****************Mobile styles*******************
/***********************************************/
@media (min-width: 750px) and (max-width: 1300px){
.menu a {
    padding-left: 30px;
}
.menu a:hover {
  padding-left: 15px;
}
.header {
  height: 583px;
  position: relative;
  width: 100%;
  background-image: url(../img/sochi-2258855.png), url(../img/logo.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position:center 20%;
  background-size: cover auto;  
}
.header_big {
  margin-top: -20px;
  font-size: 60px; 
  font-weight: 400;
  line-height: 60px;
}
.header_small {
  font-size: 20px; 
  padding-top: 150px;
}
.main__button {
  font-size: 18px;
}
.main__container {
  width: 90%;
}
.content__columns {
  flex-flow: column wrap;
}
.content__element {
  position: relative;
  width: 45%;
  height: 500px;
  min-width: 35%;
  background-color: #fff;
  margin: 15px;
  display: block;
  padding-left: 30px;
}
.content__columns {
  flex-flow: column wrap;
  max-height: 1800px;
  align-items: baseline;
}
.content__header {
  font-size: 22px;
  width: 230px;
}
.content__text {
  font-family: Rubik, sans-serif;
  color: #0d3351;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.content__price {
  position: absolute;
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 28px;
  color: red;
  bottom: 0%;
  left: 30px;
}
.content__textbox {
  height: 191px;
  padding-left: 0px;
}
.content-img__full-height,
.content-img__half-height,
.content-img__quarter-height {
  height: 272px;
  margin-left: -30px;
  background-size: cover;
  /*42% is a workaround to fit all test images better.
  Wouldn't be used with full-sized images*/
  background-position: 42% center; 
}
}

@media (min-width: 320px) and (max-width: 749px){
  
body {
  display: flex;
  flex-direction: column;
  /*min-width: 320px;
  max-width: 719px;*/
}
.header__element {
  display: none;
}
.menu a {
    padding-left: 20px;
}
.menu a:hover {
  padding-left: 10px;
}
.nav {
  background-color: #0d3351;
  position: absolute;
  top:-3000%;
  left: 28%;
  width: 300px;
  opacity: 0;
  transition: 0.5s all ease 0.15s;
  padding: 60px 0;
}
.menu__first_element_formatting{
  margin: 25px -10px;
  display: flex;
  position: relative;
  font-family: Rubik, sans-serif;
  color: #0d3351;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
}
.header {
  height: 583px;
  position: relative;
  width: 100%;
  background-image: url(../img/sochi-2258855.png), url(../img/logo.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position:center 5%;
  background-size: cover auto;  
}
.header_big {
  margin-top: -20px;
  font-size: 60px; 
  font-weight: 400;
  line-height: 60px;
}
.header_small {
  font-size: 20px; 
}
.main__button {
  font-size: 18px;
}
.main__container {
  width: 90%;
}
.content__columns {
  flex-flow: column nowrap;
}
.content__element {
  position: relative;
  width: 90%;
  background-color: #fff;
  margin: 10px;
  display: block;
  padding-left: 30px;
}
.content__header {
  font-size: 24px;
  width: 230px;
}
.content__text {
  font-family: Rubik, sans-serif;
  color: #0d3351;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.content__columns {
  flex-flow: column wrap;
  max-height: 5500px;
}
.content-img__full-height,
.content-img__half-height,
.content-img__quarter-height {
  height: 229px;
  margin-left: -30px;
  background-size: cover;
  /*42% is a workaround to fit all test images better.
  Wouldn't be used with full-sized images*/
  background-position: 42% center; 
}
/* стили для ширины крупнее планшетов */

/* стили для ширины 750 пикселов и выше */
@media (min-width: 750px) {
  
}

/* стили для ширины крупнее компьютерных мониторов */
/* стили для ширины 1000 пикселов и выше */
@media (min-width: 1000px) {
  
}

/* стили для ширины крупнее компьютерных HD-мониторов */
/* стили для ширины 1200 пикселов и выше */
@media (min-width: 1200px) {

}
